.card {
  max-width: 345px;
  margin: 1em;
}

.avatar{
  background-color: #00796b;
}

.card-content {
  width: 230px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em;
}
.card-icon {
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: .8em;
}



.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #00796b;
}
