.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5em 0;
  .title {
    font-size: 2em;
    font-weight: 500;
    color: black;
  }
  .add {
    color: white;
    background-color: #00796b;
    border-radius: 25%;
    font-size: 1.5em;
    padding: 10px;
  }
}
.divider {
  margin: 2em 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em 3em;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 0 -1em;
}
