.table {
    min-width: 0;
  }
  
  .row-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .avatar {
      margin-right: 0.4em;
    }
  }
  
  .actions{
    display: flex;
    justify-content: center;
    align-items: center;
    .action-qr {
      color: #3a4652;
    }
    .action-edit {
      color: #00796b;
    }
    .action-delete {
      color: #f50057;
    }
  }
  
  .progress{
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  }