.root{
  max-width: 700px;
}
.add {
  color: white;
  background-color: #00796b;
  border-radius: 25%;
  font-size: 1.5em;
  padding: 10px;
  &:hover{
    background-color: #00796bee;
  }
}
.container {
  margin-top: 1em;
  width: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.type,.type-active{
  cursor: pointer;
  flex-grow: 1;
  border: 3px solid transparent;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: white;
  margin: 1em;
  padding: 2em 4em;
  .text{
    color: #4e4d50;
  font-weight: 800;
  text-align: center;
  }
}
.type-active{
  border: 3px solid #00796b;
}

.row-wrapper{
  flex-flow: row wrap;
  max-width: 700px;
  .description{
    flex-grow: 6;
  }
  
}

.image{
  flex-grow: 1;
  margin-left: 2em;
  

    .icon{
      font-size: 4em;
      color: #a4a4a4;
    }
    .icon-footer{
      color: #a4a4a4;
    }
}